body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
  }
  
  .calculator {
    border-radius: 15px;
    width: 300px;
    background-color: #000; /* Black background color */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  #display {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid #333; /* Dark grey border color */
    border-radius: 10px;
    background-color: #fff;
    outline: none;
    text-align: right;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #555; /* Dark grey button color */
    color: #fff; /* White text color */
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #777; /* Darker grey on hover */
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  